* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: slategray;
}

canvas {
  height: 50vh !important
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  margin-top: 2rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
}

#three-canvas-container {
  height: 100vh !important;
}